@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS Variables */
@layer base {
  :root {
    /* Brand */
    --brand-primary: #440e8b;
    --brand-secondary: #040404;
    --brand-tertiary: #ae70ff;

    /* Text */
    --text-primary: #190434;
    --text-secondary: #667085;
    --destructive: #f58a8a;
    --text-info: #2e0760;

    /* Background */
    --bg-primary: #ffffff;
    --bg-secondary: #ffffff;
    --bg-tertiary: var(--brand-primary);
    --bg-brand-gradient: linear-gradient(90deg, #440e8b 0%, #dcc2ff 100%);
    --bg-hover: rgba(50, 56, 62, 0.04);
    --bg-muted: #f4f4f5;
    --bg-info: #f3fafc;
    --bg-collections-short: #fff4c6;
    --bg-collections-medium: #d4bb5b;
    --bg-collections-long: #bb6651;

    /* Border */
    --border-primary: #dcdfe4;
    --border-radius: 1.25rem;
    --border-info: #ae70ff;

    /* Box Shadow */
    --shadow-focus: 0 0 0 2px var(--brand-secondary);
    --box-shadow-primary: rgba(0, 0, 0, 0.04) 0px 5px 22px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }

  .dark {
    --brand-primary: #ae70ff;
    --brand-secondary: #040404;
    --brand-tertiary: #ae70ff;
    /* Text */
    --text-primary: #f0f4f8;
    --text-secondary: #9fa6ad;
    --text-info: #cbd5e1;

    /* Background */
    --bg-primary: #2e0760;
    --bg-secondary: #190434;
    --bg-tertiary: #190434;
    --bg-hover: rgba(221, 231, 238, 0.08);
    --bg-muted: #27272a;
    --bg-info: #1e293b;

    /* Box Shadow */
    --box-shadow-primary: rgba(0, 0, 0, 0.24) 0px 5px 22px 0px, rgba(255, 255, 255, 0.12) 0px 0px 0px 1px;

    /* Border */
    --border-primary: #dcdfe4;
    --border-radius: 1.25rem;
    --border-info: #ae70ff;
    --border-primary: #32383e;
    --border-info: #3b82f6;
  }

  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom, 80px);
  }
}
.click-animation {
  transition: transform 0.1s ease-in-out;
}
.click-animation:active {
  transform: scale(0.95);
}

/* Custom CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset/ */

*,
*::before,
*::after {
  box-sizing: border-box;
  border-color: var(--border-primary);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  /* https://www.joshwcomeau.com/css/custom-css-reset/#digit-tweaking-line-height */
  line-height: calc(1em + 0.5rem);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-inter);
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

svg {
  flex-shrink: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

button {
  padding: 0;
  border-width: 0;
  background: none;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

a {
  color: inherit;
  text-decoration: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
.pac-container:after {
  content: none !important;
}
.weight-800 {
  font-weight: 800;
}

.terms-container {
  font-size: 0.75em; /* Default font size for mobile */
  line-height: 1.3em;
  margin: 0; /* Remove external margins to fit within the parent */
  padding: 1em; /* Internal padding for better spacing */
  text-align: center; /* Center-align the text */
  /* margin-top: 45em;   */

  /* For larger screens */
  @media (min-width: 640px) {
    /* Matches the `sm` breakpoint */
    font-size: 0.75em;
    line-height: 1.3em;
    padding: 4em;
    width: 150%; /* Fit the full width of the parent */
    margin-top: 45em;
  }

  @media (min-width: 1024px) {
    /* Larger breakpoints  for desktops */
    font-size: 0.75em;
    line-height: 1.3em;
    padding: 2em;
    margin-top: 45em;
    width: 300%;
  }

  @media (max-width: 2270px) {
    width: 150%;
    margin-top: 35em;
  }
  @media (max-width: 1024px) {
    margin-top: 5em;
    width: 100%;
  }
  @media (max-width: 768) {
    margin-top: 3em;
  }
}
